.DS_Store
.vscode/
*.code-workspace
xcuserdata
build/
*.iml
npm-debug.log
node_modules
package-lock.json
.project
.settings
.classpath
.gradle
.idea
local.properties
*.swp
example/android/app/src/main/assets/
