<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
  package="com.example">

    <uses-permission android:name="android.permission.INTERNET" />

  <!-- use permission REQUEST_INSTALL_PACKAGES for target API25+ -->
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

    <!-- Define a FileProvider for API24+ -->
    <!-- note this is the authority name used by other modules like rn-fetch-blob, easy to have conflicts -->
    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.provider"
        android:exported="false"
        android:grantUriPermissions="true">
        <!-- you might need the tools:replace thing to workaround rn-fetch-blob or other definitions of provider -->
        <!-- just make sure if you "replace" here that you include all the paths you are replacing *plus* the cache path we use -->
      <meta-data tools:replace="android:resource"
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/filepaths" />
    </provider>

    </application>

</manifest>
